
.control-dots{
    margin: 13px 27em !important;
}
.dot{
  margin: 0 4px !important;
  background: lightskyblue !important;
}

.thumbs{
  display: none ;
}


.searchpad{
    position: absolute;
    justify-content: flex-start !important;
    /* align-content: flex-start !important; */
  width: 40rem !important;
  padding-top: 5px;
  /* border: 2px solid black; */
  border-radius: .45rem;
  background-color: white;
  /* text-align: center !important; */
  /* display: flex !important; */
  /* justify-content: center !important; */
  /* margin-top: 2px !important; */
  margin: -4em 0 0 22em !important;
    
}
/* @media(max-width: 768px){
    .searchpad{
        width: 20rem !important;
        margin: -4em 0 0 6em !important;
    }
} */

@media(max-width: 283px){
    .searchpad{
        width: 17rem !important;
        margin: -4em 0 0 0 !important;
        /* height: 5rem !important; */
        font-size: 12px;
    }
}

.search-icon{
    background-color: tomato;
    color: white;
    font-size: 1.5em;
    width: 1.5em;
    border-radius: .25rem;
    padding: .5rem 0;
}

.threeicon{
    padding: 0 .2rem !important;
    font-weight: bold;
    font-size: .9rem !important;
    transition: .2s !important;
    cursor: pointer;
    
}

.threeicon:hover{
    border-radius: .25rem;
    box-shadow: 0px 2px 5px darkgray ;
}

.threeicon i{
    color: tomato !important;
}
.threeiconbr{
    /* background-color: black; */
    /* width: 5rem !important; */
    /* border-width: 5rem !important; */
    display: flex;
    max-width: 32% !important;
    padding: 4px 0 2px 0;
    box-shadow: 0px 2px 5px darkgray ;
    border-radius: .45rem;
}

input{
    text-decoration: none;
    border: 0px solid transparent;
    /* padding-left: -1rem; */
    text-align: start !important;
    justify-content: start !important;
    width: 100%; 
    font-weight: 100;
    height: 2.5rem;
}
@media(max-width: 768px){
    .threeiconbr{
        display: none;
    }
}